/* 1920 x 1080 해상도 기준 */
@media all and (min-width: 1281px) {
  body {
    margin: 0 595px;
  }
  #logo {
    padding-top: 30px;
  }
}
/* 1280 x 1024 해상도 기준 */
@media all and (max-width: 1280px) {
  body {
    margin: 0 275px;
  }
  #logo {
    padding-top: 30px;
  }
}
/* 모바일 기준 */
@media all and (max-width: 600px) {
  body {
    margin: 0;
  }
  #logo {
    padding-top: 0;
  }
  #logo_a {
    writing-mode: vertical-rl;
    padding-top: 8px;
  }
  p {
    margin-left: 10px;
    margin-right: 10px;
  }
  .img_in_content {
    margin-left: 10px;
  }
}
header {
  height: 80px;
  display: flex;
}
#logo {
  flex: 10%;
  text-align: center;
  background-color: aliceblue;
  border-radius: 10px;
  font-size: 20px;
}
#logo_a:hover {
  color: black;
}
#nav_top {
  flex:90%;
  background-color: antiquewhite;
  border-radius: 10px;
}
#nav_top_ul {
  display: flex;
}
li {
  list-style-type: none;
}
#nav_top_ul > li {
  font-size: 20px;
  margin-right: 20px;
  margin-top:30px;
  margin-bottom: 26px;
}
#nav_top_ul > li:nth-child(1) {
  margin-left: 20px;
}
#nav_sub>ul{
  display: flex;
  background-color:beige;
  border-radius: 10px;
}
#nav_sub>ul>li{
  font-size: 18px;
  padding-left: 10px;
}
a{
  text-decoration-line: none;
}
a:link{
  color:black;
}
a:visited{
  color:black;
}
p{
  margin-top: 20px;
  margin-left: 10px;
  line-height: 1.5;
}
h1{
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin: 25px;
}
.section_img{
  text-align: center;
}
.img_in_content {
  vertical-align: middle;
  margin-top: 20px;
  margin-left: 20px;
}
.img_border_radius {
  border-radius: 10px;
}
section {
  margin-bottom: 30px;
}
footer {
  text-align: center;
  margin: 100px 100px 50px 100px;
  font-size: 14px;
  color:cadetblue;
}