header {
  height: 80px;
  display: flex;
}
#logo {
  flex: 5%;
}
#nav_top {
  flex:95%;
  background-color: antiquewhite;
}
#nav_top_ul {
  display: flex;
}
li {
  list-style-type: none;
}
#nav_top_ul>li{
  margin-right: 20px;
    font-size:1.5em;
    margin-top:30px;
    margin-bottom: 26px;
}
#nav_top_ul > li:nth-child(1) {
  margin-left: 10px;
}
#nav_sub{
    width:100px;
    text-align: center;
}
#nav_sub>ul{
    line-height: 30px;
}
#nav_sub>ul>li{
    font-size:1.5em;
    padding-bottom: 10px;
    padding-left: 10px;
}
a{
    text-decoration-line: none;
}
a:link{
    color:black;
}
a:visited{
    color:black;
}
a:hover {
  color:blue;
}
p{
    padding-top:5px;
    padding-left: 10px;
    line-height: 30px;
}
h1{
    font-size: 2em;
    margin: 20px;
}
img{
    vertical-align: middle;
}
section {
  margin-bottom: 30px;
}
footer {
  margin: 30px;
}