body{
    margin:0px;
}
#div_top{
    display:flex;
    height:80px;
}
header{
    flex:5%;
}
#nav_top{
    flex:95%;
    background-color: aquamarine;
}
ul{
    padding-inline-start: 0px;
}
#nav_top_ul {
    padding-left:20px;
    width:500px;
}
ul>li{
    list-style-type: none;
    float:left;
    margin-right:0.75em;
    font-size:1.5em;
    margin-top:6px;
}
#nav_left{
    width:80px;
    float:left;
}
#nav_left>ul{
    line-height: 30px;
}
#nav_left>ul>li{
    float:none;
    font-size:1.5em;
    padding-bottom: 10px;
    padding-left: 10px;
}
a{
    text-decoration-line: none;
}
a:link{
    color:black;
}
a:visited{
    color:black;
}
p{
    padding-top:5px;
    padding-left: 10px;
    line-height: 30px;
}
section{
    float:left;
    margin-left:10px;
}
h1{
    padding-left:20px;
}
img{
    vertical-align: middle;
}